/*      Variaveis de cor - Por enquanto, só copiar e colar as cores  */
:root {
  --primary-color: #04345C; 
  --secondary-color: #6BD4CC;
  --tertiary-color: #ffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  padding: 0px;
  font-family: -apple-system, sans-serif;
}


/* Margin e Padding */
.ms-auto {
  margin-left: auto;
}
.me-auto {
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}


.p-1 {
  padding: 1rem
}
.p-2 {
  padding: 2rem
}

.px-1 {
  padding: 0 1rem 
}
.px-2 {
  padding: 0 2rem 
}

.py-1 {
  padding: 1rem 0
}
.py-2 {
  padding: 2rem 0
}


.text-start {
  text-align: start
}
.text-end {
  text-align: end
}

.text-center {
  text-align: center
}





/* Cores de texto */
.text-white {
  color: white;
}
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}





/* Cores de fundo */
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-tertiary {
  background-color: #ffff;
}





/* Outros*/
.rounded {
  border-radius: 12px 
}

.u-none {
  text-decoration: none
}





/****  Botões   ****/

.btn {
  background: none;
  border: none;
  padding: 5px 10px;
}
.btn-primary {
  background-color:  var(--primary-color);
  color: white;
}
.btn-secondary {
  background-color: #6BD4CC;
  color: var(--primary-color);
}





/****  Peso de Fonte   ****/
.fw-bold{
  font-weight: bold
}
.fw-bolder{
  font-weight: bolder
}





/****  Tamanhos de Fonte   ****/
.fs-1 {
  font-size: 3rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 1.5rem;
}






/****  Tamanhos Fixos   ****/
.hf-100 {
  height: 100px;
}
.hf-150 {
  height: 150px;
}
.hf-200 {
  height: 200px;
}
.hf-250 {
  height: 250px;
}

.wf-100 {
  width: 100px;
}
.wf-150 {
  width: 150px;
}
.wf-200 {
  width: 200px;
}
.wf-250 {
  width: 250px;
}





/****  Tamanhos por Porcentagem   ****/

.h-25 {
  height: 25%;
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}
.h-100 {
  height: 100%;
}

.w-25 {
  width: 25%;
}
.w-33{
  width: 33%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-90 {
  width: 90%;
}
.w-100{
  width: 100%;
}

@media (min-width: 768px){
  .w-md-10 {
    width: 10%
  }
  .w-md-15 {
    width: 15%
  }
  .w-md-20 {
    width: 20%
  }
  .w-md-25 {
    width: 25%
  }
  .w-md-33 {
    width: 33%;
  }
  .w-md-66 {
    width: 33%;
  }
  .w-md-50 {
    width: 50%;
  }
  .w-md-100 {
    width: 100%;
  }
}
.img-fluid {
  width: 100%;
  height: auto;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

@media screen and (min-width: 768px){
  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }
}








/* Flex */
.d-flex {
  display: flex;
}

.flex-column{
  flex-direction: column 
}

.align-items-center {
  align-items: center
}



.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.justify-content-between {
  justify-content: space-between
}
.justify-content-around {
  justify-content: space-around
}
.justify-content-center {
  justify-content: center
}

@media screen and (min-width: 768px){
  .flex-md-row {
    flex-direction: row
  }

  .align-items-md-center {
    align-items: center
  }
  .align-items-md-start {
    align-items: start
  }


  .justify-content-md-between {
    justify-content: space-between
  }
  .justify-content-md-around {
    justify-content: space-around
  }
  .justify-content-md-center {
    justify-content: center
  }



}







/* Header */
header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
}
header .logo {
  height: 50px;
  padding: 5px
}

@media screen and (max-width: 767px){
  header {
    position: fixed;
    width: 100%;

  }
  #nav:checked ~ label#labelMenu{
    width: 100%;
  }

  #nav:checked ~ label#backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: block !important;
    background-color: rgb(0,0,0,0.8);
    z-index: -1;
    top: 0;
    left: 0;
  }

  #nav:checked ~ label#labelMenu nav{
    position: relative;
    z-index: 10;
    display: flex !important;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color)
  }

  #navBtn {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
  }

   #nav:checked ~ label#navBtn .fa-bars:before{
    content: "\f00d";
  }
}




header nav a {
  padding: 10px ;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin:  15px 5px;
  font-size: 1.3rem;
  text-align: center;
}

header nav a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: .5s;
}



/* Hero */
#hero ul {
  padding-left: 10px
}


.links {
  list-style: none;
  padding: 0
}

.links a {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  background-color: red
}

/* AULA */

.video-aula {
  margin-top: 120px;
  padding: 30px 30px;
}

.video-aula h2{
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}

/* CONTATO */

.contato{
  margin-top: 120px;
  padding: 30px 30px;
  
}

.contato h2{
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.contato a{
  text-decoration: none;
}

.contato ul {
  margin-top: 5px;
  list-style: none; 
  text-decoration: none;
}

.contato li{
  padding: 10px 15px;
 
}

.me-1{ 

  margin-right: 1rem;

}

.fa {
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/*cadastro*/
.cadastro {
  margin-top: 50px;
  padding: 20px 20px;
  justify-content: center;
}
h3{
  justify-content: center;
}
.inputh3 {
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 20px;
  border: none;
  border: 1px solid var(--primary-color)
  
}
 
.botao {
  background-color:  var(--primary-color);
  color: white;
  padding:  10px 20px;
  border-radius: 5px;
  border:  var(--primary-color);
  margin-top: 10px;
}

/*login*/

.login {
  padding: 30px 30px;
  justify-content: center;
}
.login h2{
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 15px;
}
@media screen and (max-width: 767px){
  main section:first-child,
  #hero{
    padding-top: 70px !important;
  }
  
}

main section:not(.full){
  padding: 20px
}
main section .container,
footer {
  min-height: 50vh;
}


#vantagens > .container {
  border: 4px solid var(--primary-color);
  border-radius: 12px;
}

#vantagens > .container  i {
  padding: 12px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  margin-bottom: 10px
}
#vantagens > .container  i:hover {
  background-color: var(--primary-color);
  color: white;
  transition: .4s;
  cursor: pointer
}

#vantagens > .container > div {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bolder;
  margin: 0 20px
}

#formacao #video-home,
#formacao #video-home:hover {
  transition: .4s
}

#formacao #video-home {
  height: 300px;
  width: auto;
  cursor: pointer;
}
#formacao #video-home:hover {
  filter: brightness(50%);
}

#formacao h2 {
  font-size: 2rem;
  margin: 20px 0;
}
#formacao ul {
  padding: 10px;
  padding-left: 40px
}
#formacao ul li {
  margin: 20px 0;
  font-size: 1.3rem
}






footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer small {
  color: white;
  font-size: 1.4rem
}

.fumaca {
  font-size: 1.1rem;
  color: gray

}
.fumaca:last-child {
  color: lightgray;
  font-size: 1.6rem;
  animation-delay: .5s;
  animation: 1.5s piscar infinite;
}


.foguete-container {
  animation: 4s andar infinite linear;
}

.foguete {
  height: 100px;
  width: auto;
}
.foguete::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  top: 110%;
}

@keyframes piscar {
  from {
    opacity: .5;
  }
  to {
    opacity: .9;
  }
}


@keyframes andar {
  0% {
    transform: translateY(0px)
  }
  20% {
    transform: translateY(-50px)
  }
  30% {
    transform: translateY(-50px) rotate(-90deg) 
  }
  40% {
    transform: translateY(-50px) translateX(-300px) rotate(-90deg)  
  }
  50% {
    transform: translateY(-50px) translateX(-300px) rotate(120deg)
  }
  60% {
    transform: translateY(-50px) translateX(300px) rotate(90deg)
  }
  70% {
    transform: translateY(-50px) translateX(300px) rotate(-90deg)
  }
  80% {
    transform: translateY(-50px) translateX(0px) rotate(0)
  }
  100% {
    transform: translateY(0px)
  }


}




